@import '../../../config-scss/rem-calc.scss';

$padding: rem-calc(20);

:host {
  h1 {
    color: var(--white-color);
    padding: $padding;
    text-align: center;
    font-size: rem-calc(24);
    font-weight: 700;
  }

  a {
    text-decoration: none;
    color: var(--primary-color)
  }
  .listagem {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: $padding 0;
    .pokemon {
      position: relative;
      display: flex;
      background: var(--white-color);

      width: calc(49% - 2.5rem);
      height: rem-calc(157 - 40);

      margin-bottom: rem-calc(10);
      padding: $padding;

      border-radius: rem-calc(10);

      text-decoration: none;
      color: var(--primary-color);

      &__status {
        h2 {
          font-size: rem-calc(22);
          font-style: italic;
          font-weight: 700;
          text-transform: capitalize;

          margin-bottom: rem-calc(10);
        }

        ul {
          display: flex;
          justify-content: column;

          li {
            background: var(--gray-color);
            font-size: rem-calc(10);

            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: rem-calc(50);

            width: rem-calc(60);
            margin-bottom: rem-calc(5);
          }
        }
      }

      &__image {
        position: absolute;

        display: flex;
        align-items: center;
        justify-content: center;

        height: rem-calc(90);
        width: rem-calc(110);

        right: $padding;
        bottom: $padding;

        background: url('../../../assets/bg/background-list-pokemon.svg') no-repeat;

        img {
          width: rem-calc(60);
        }
      }
    }

    @media (max-width: 400px) {
      a {
        width: 100% !important;
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: rem-calc(5);
    width: 100%;
    padding: rem-calc(10);
  }

  button {
    background-color: var(--secondary-color);
    color: var(--gray-color);
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;

    &:hover {
      background-color: var(--hover-color);
    }

    &:disabled {
      background-color: var(--gray-color);
      cursor: not-allowed;
      color: var(--secondary-color);
    }
  }

  span {
    font-size: 18px;
    margin: 0 10px;

    color: var(--gray-color);
    font-weight: rem-calc(400);
  }
}
